layout {
    tab {
        // executing sh and not directly setsid to expand
        pane command="sh" close_on_exit=true {
            args "-c" "setsid -f kak -d -s vns $(find src -type f ! -name *.bin ! -name .gitignore)"
        }
    }
    default_tab_template name="ui" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    pane_template name="vns" command="kakoune" {
        args "-c" "vns"
    }
    tab name="src" focus=true {
        pane split_direction="vertical" {
            pane {
                // TODO : something with -E :deamonize-session once I upgraded to the latest kakoune version
                vns {  args "-c" "vns" "TODO.md"; }
            }
            vns focus=true { args "-c" "vns"; }
            vns { args "-c" "vns" "makefile"; }
        }
    }
}

keybinds {
    shared_except "locked" {
        bind "F5" {
            NewTab name="vns" {
                layout "zellij-layout.kdl"
            }
        }
        bind "F6" {
            Run "make" "all" {
                close_on_exit
                floating true
                height "100%"
                width "100%"
                x "1"
                y "2"
            }
        }
    }
    normal {
        bind "F4" {
            WriteChars r#"hexdump -ve '"%-3_ad" 9/1 " %4d" "\n" "%_Ad\n"'"#
        }
    }
}

